<% case block["type"] %>
<% when "text" %>
  <%= render_markdown(block["text"].to_s) %>
<% when "thinking" %>
  <div class="collapse collapse-arrow bg-base-200/40 my-2">
    <input type="checkbox" />
    <div class="collapse-title text-xs opacity-70">thinking</div>
    <div class="collapse-content"><pre class="tool-body"><%= block["thinking"].to_s %></pre></div>
  </div>
<% when "tool_use" %>
  <div class="collapse collapse-arrow bg-base-200/40 my-2">
    <input type="checkbox" />
    <div class="collapse-title text-xs">
      <span class="badge badge-primary badge-xs mr-1">tool_use</span>
      <span class="font-mono"><%= block["name"] %></span>
      <span class="opacity-60 font-mono ml-2"><%= truncate_plain(block["input"].to_json.to_s, 140) %></span>
    </div>
    <div class="collapse-content"><pre class="tool-body"><%= JSON.pretty_generate(block["input"] || {}) %></pre></div>
  </div>
<% when "tool_result" %>
  <% inner = block["content"] %>
  <div class="collapse collapse-arrow bg-base-200/40 my-2">
    <input type="checkbox" />
    <div class="collapse-title text-xs">
      <span class="badge badge-secondary badge-xs mr-1">tool_result</span>
      <span class="opacity-60 font-mono"><%= truncate_plain(ClaudeHistory::RecordParser.flatten_content(inner), 140) %></span>
    </div>
    <div class="collapse-content">
      <% if inner.is_a?(Array) %>
        <% inner.each do |sub| %>
          <%= render "conversations/block", block: sub %>
        <% end %>
      <% else %>
        <pre class="tool-body"><%= inner.to_s %></pre>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="collapse collapse-arrow bg-base-200/40 my-2">
    <input type="checkbox" />
    <div class="collapse-title text-xs"><span class="badge badge-ghost badge-xs mr-1"><%= block["type"] %></span></div>
    <div class="collapse-content"><pre class="tool-body"><%= JSON.pretty_generate(block) %></pre></div>
  </div>
<% end %>
