<% variant ||= :heading %>
<% frame_id = "conversation_title_#{variant}_#{conversation.id}" %>
<% display_url = title_conversation_path(conversation, variant: variant) %>
<% edit_url    = title_conversation_path(conversation, variant: variant, editing: true) %>
<%= turbo_frame_tag frame_id, class: "title-frame title-frame-#{variant}" do %>
  <% if editing %>
    <%= form_with model: conversation,
          url: conversation_path(conversation),
          method: :patch,
          class: "title-edit title-edit-#{variant}",
          data: { turbo_frame: frame_id } do |f| %>
      <%= hidden_field_tag :variant, variant %>
      <%= f.text_field :custom_title,
            value: (conversation.custom_title.presence || conversation.display_title),
            autofocus: true,
            data: { controller: "title-edit", action: "keydown.esc->title-edit#cancel" } %>
      <%= f.submit "Save" %>
      <%= link_to "Cancel", display_url, data: { turbo_frame: frame_id }, class: "cancel" %>
      <% if conversation.custom_title.present? %>
        <%= button_to "Reset",
              conversation_path(conversation),
              method: :patch,
              params: { conversation: { custom_title: "" }, variant: variant },
              form: { data: { turbo_frame: frame_id } },
              class: "reset" %>
      <% end %>
    <% end %>
  <% else %>
    <% case variant %>
    <% when :heading %>
      <h1 class="title-display title-display-heading">
        <span class="title-text"><%= conversation.display_title %></span>
        <%= link_to "✎", edit_url, data: { turbo_frame: frame_id }, class: "edit-icon", title: "Rename" %>
      </h1>
    <% when :inline %>
      <span class="title-display title-display-inline">
        <%= link_to conversation.display_title, conversation_path(conversation), class: "conv-title" %>
        <%= link_to "✎", edit_url, data: { turbo_frame: frame_id }, class: "edit-icon", title: "Rename" %>
      </span>
    <% end %>
  <% end %>
<% end %>
